<section class="container chat-wrapper">
  <div id="chat-container">
    <div id="chat-header">
      <h6 class="nombreusuario">
        <span class="text-success fs-6 fw-bold">Online</span></h6>
    </div>
    <div id="chat-messages">
      <div class="message sender">
        <div class="sender-name" id="chat">Bienvenido al Chat de la
          comunidad...Escribe algo para empezar</div>
      </div>
    </div>
    <form id="formulario" class="d-grid gap-2">
      <input
        type="text"
        name="mensaje"
        id="mensaje"
        placeholder="Escribe algo..."
      />
      <button id="sendMessage" class="btn-card-ok text-light"><i
          class="fas fa-paper-plane"
        ></i>
        Enviar</button>
      <button id="clearChat" class="btn-card-danger text-light"><i
          class="fas fa-trash"
        ></i>
        Vaciar Chat</button>
      <a href="/" class="btn btn-outline-danger">Salir</a>
    </form>
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>