<div class="mt-5">
  <form
    action="/api/v1/auth/login"
    method="POST"
    class="container border border-secondary rounded p-3"
  >
    <div>
      <h1 class="text-center fs-4 text-primary fw-5">Ingresar al Chat</h1>
      {{#if incorrectEmail}}
        <div class="alert alert-danger" role="alert">
          {{incorrectEmail}}
        </div>
      {{/if}}
      {{#if loginError}}
        <div class="alert alert-danger" role="alert">
          {{loginError}}
        </div>
      {{/if}}
      <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Ingresa tu correo electronico"
        />
      </div>
      {{#if incorrectPassword}}
        <div class="alert alert-danger" role="alert">
          {{incorrectPassword}}
        </div>
      {{/if}}
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="ingresa tu contraseña"
        />
      </div>
      <button
        type="submit"
        class="btn btn-outline-primary w-100"
      >Ingresar</button>
      <div class="d-flex align-items-center justify-content-around mt-3">
        <p>No tenes cuenta?
          <a href="/signup">Registrate</a>
        </p>
      </div>
    </div>
  </form>
</div>